<%= render 'shared/errors', obj: @student %>

<div class="container">
    <div class="row center signup-form">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h3 class="header"><%= @student.new_record? ? "Sign up" : "Update your profile" %></h3>
                <div class="row">
                    <%= form_for(@student, html: {class: "col s12"}) do |f| %>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.text_field :name, placeholder: "Enter Your Full name", autofocus: true %>
                            <%= f.label :name %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.text_field :email, placeholder: "Enter Your email address" %>
                            <%= f.label :email, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.password_field :password, placeholder: "Choose a password" %>
                            <%= f.label :password, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
                            <%= f.label :password_confirmation, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.button(@student.new_record? ? '<i class="material-icons right">arrow_forward</i>Sign Up'.html_safe : '<i class="material-icons right">arrow_forward</i>Submit changes'.html_safe, class: "btn orange waves-effect waves-light right") %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>