
<div class="container">
    <div class="row center signup-form">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h3 class="header">Login</h3>
                <div class="row">
                    <%= form_for(:logins, html: {class: "col s12"}) do |f| %>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.text_field :email, placeholder: "Enter Your email address" %>
                            <%= f.label :email %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.password_field :password, placeholder: "Enter your password" %>
                            <%= f.label :password %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.button '<i class="material-icons right">arrow_forward</i>Login'.html_safe, class: "btn orange waves-effect waves-light right" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>