<header>
    <ul id="dropdown1" class="dropdown-content">
        <% if(logged_in?) %>
        <li><%= link_to "My profile", student_path(current_user) %></li>
        <% end %>
        <li><%= session_link %></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <% if(logged_in?) %>
        <li><%= link_to "My profile", student_path(current_user) %></li>
        <% end %>
        <li><%= session_link %></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <%= link_to "Tech University", root_path, class: "brand-logo right" %>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <% if (logged_in?) %>
                    <li>
                        <%= link_to 'Students', students_path %>
                    </li>
                    <% end %>
                    <li>
                        <%= link_to 'Courses', root_path %>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li>
                        <%= link_to 'Home', root_path %>
                    </li>
                    <li>
                        <%= link_to 'Students', students_path %>
                    </li>
                    <li>
                        <%= link_to 'Courses', root_path %>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>

<% flash.each do |key, message| %>
    <div class="container">
    <div class="row signup-form">
        <div class="col s12 m12 l12">
            <div class="card-panel red lighten-2" id="fade-out-target">
                <span class="white-text">
                    <%= message %>
                </span>
                </div>
                </div>
                </div>
            </div>
<% end %>
</header><!-- /header -->